@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);

@font-face {
	font-family: 'icomoon';
	src:url('fuentes/icomoon.eot?861156');
	src:url('fuentes/icomoon.eot?#iefix861156') format('embedded-opentype'),
		url('fuentes/icomoon.woff?861156') format('woff'),
		url('fuentes/icomoon.ttf?861156') format('truetype'),
		url('fuentes/icomoon.svg?861156#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pluma:before {
	content: "\e600";
	margin-right: 0.8em;
}
.icon-estrella:before {
	content: "\e601";
	color: #FFBE2C;
	margin-right: 0.4em;
	position: relative;
	top: 0.1em;
}
.icon-f-abajo:before {
	content: "\e602";
	color: #DD4F24;
}
.icon-f-arriba:before {
	content: "\e603";

}

aside video
{
	position: absolute;
	margin-right: 6em;
	float: right;
	top: 200px;
	right: -104px

}

body
{
	background: #EEEEEE;
	font-family: "Open Sans";
	font-size: 16px;
	margin: 0;
}
a
{
	color:#22BCE0;

}
aside
{
	position:relative;
	display: none;
}
footer
{
	color:rgba(255,255,255,0.5);
	background: #22BCE0;
	text-align: center;
	padding: 1em;

}
footer p:first-child
{
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:before
{
	content: "- ";
}
footer p:last-child:after
{
 	content :" -";
}

header
{
	background: #343B54;
	color:white;
	padding: 2em;
	position: relative;
	overflow: hidden;
}
header .fuente_titulo
{
	font-family: "Open Sans";
}
header figure
{
	float: left;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*este estilo se conecta con el javascript del jquerty que hace que podamos usar css3 para modificaciones*/
header .fuente_titulo span.word4, span.word1{
	font-size: 10px;
	color: crimson;
}
header .fuente_titulo span.word5{
	color: peru;
}
header .fuente_titulo span.word8{
	color: crimson;
	font-style: italic;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.2em 70px 0 80px;
}
header #avatar
{
	margin: 1.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
header #avatar img
{
	border-radius: 50%;
	width: 55px;
}
header #logo
{
/*	-webkit-trasform:rotate(180deg); chrome
	-moz-trasform:rotate(180deg); mozilla
	-ms-trasform:rotate(180deg);InternetExplorer */

	border-right: 1px solid white;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	margin:1em 2em 0 0;
	padding-right: 1em;


}
header #logo img:hover
{

	transform:rotate(-360deg);



}
header #logo img
{
	transition:.6s;

	float: left;
	left: 0;
	top: 0;
	width: 60px;
	margin: 0.5em 0.5em 0 1em;
	padding:0 0em 0 0;

}
nav
{
	text-align: center;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
	background: #80BCA3; /*#E0224D*/
	position: relative;
	padding: 0 6em 0 0;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul  #publicar_nav
{
	position: absolute;
	top: -0.20em;
	right: 0;
}
nav ul  #publicar_nav a
{
	background: #22BCE0;
	border-radius: 5px;	
	box-shadow:rgba(0,0,0,0.5) 5px 5px 10px;
	font-style: italic;
	padding: 0.8em 0.8em 0.8em 2.5em;
	text-decoration: none;
	text-shadow:rgba(0,0,0,0.5) 2px 2px 3px;
}
nav ul  #publicar_nav a:hover
{
	box-shadow: 0px 0px 50px #ff0;
}
nav ul  #publicar_nav a:before
{
	position: absolute;
	left: 0.5em;
	top: 0.9em;
}
nav ul #publicar_nav a:hover:before
{
	transform:scale(1.4,1.4);
/*	font-size: 25px;
	position: absolute;
	left: .2em;
	top: .4em;*/
/*	padding-left:30px;*/ 
}
nav ul li a:hover
{

	background: #343B54;
}
nav ul li
{
	display: inline-block;
	margin: 0 1em 0 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	transition:.3s;
}
/*hacemos que el video no se muestre, para que se muestre tenemos que utilizar el media jquerty*/


#contenido
{
	margin: 1em;
}
#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}
#contenido .item .autor_item 
{
	color: #AAA;
}
#contenido .item .autor_item a
{
	text-decoration: none;
}
#contenido .item .datos_item
{
	margin: 1em 1em 0 0;
	text-align: right;
}
#contenido .item .datos_item .fecha_item
{
	color: #AAA;
}
#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	border-radius: 0.5em;
	color:white;
	float:left;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
#contenido .item .imagen_item
{
	float:left;
	margin: 0 1em 0 0;
}
#contenido .item .imagen_item img
{
	width: 96px;
	height: 126px;
}
#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
	text-transform: capitalize;
}
#contenido .item .titulo_item a
{
	color:#444;
	text-decoration: none;

}
#contenido .item .votacion
{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 5%;
	margin-top: 3px; 
	padding: 0.2em 0.5em;
	position: absolute;
	top:100%;
	width: 90%;

}
#contenido .item .votacion a
{
	text-decoration: none;
}
#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item
{
	float:right;
}
/*media jquerty en este caso hacemos mediante el media querty al momento de 
simplificar la pagina a la resolucion del iphone se hace responsive design*/

@media screen and (min-width: 800px){

	#contenido{
		overflow: hidden;
	}

	#contenido .item{
		width: 48%;
		float: left;
		margin-right: 1%;
	}
	/*nth-child es un selector para unicamente en este caso escojer odd(impares)*/
	#contenido .item:nth-child(odd){
		margin-right: 3%;
	}
}
/*
@media print{
	body{
		font-size: 50px;
	}
}*/
@media screen and (min-width: 1200px){
	
	aside
	{
		position: relative;
		display:block;
		float: right;
		margin: 1em;
		width: 20%;
	}
	aside video
	{
		width: 100%;
	}
}

/*
**
**
Formulario
**
**
*/


.formulario
{
	padding: 1em;
	text-align: right;
	display: none;
}

.formulario input
{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.2em 0.6em;
}

.formulario input[type="submit"]
{
	background: #22BCE0;
	border-color: #22BCE0;
	box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px;
	font-style: italic;
	text-shadow: rgba(0, 0, 0, 0.5)2px 2px 5px;
	color: white;
}







